<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
</head>

<body>
    <div class="maincontent">
        {{>header}}
        <p>I'm currently learning Nodejs.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet leo in erat pellentesque blandit ac eget tellus. Pellentesque consequat, lectus sed blandit varius, ipsum leo vulputate arcu, dictum vestibulum diam odio vel nisl. Fusce in nibh at diam rutrum tincidunt. Donec maximus nunc ac felis elementum, a lobortis ex mollis.</p>
    </div>

{{>footer}}
    
</body>
</html>
