<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  
</head>

<body>
    <div class="maincontent">
        {{>header}}

    <p>Use this site to check the weather!</p>

    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>   

    <p></p>
    <p id="first"></p>
    <p id="third"></p>
    <p id="second"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>

</body>
</html>