body {
    color: #888888;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: whitesmoke;

    display:flex;
    flex-direction: column;
    min-height: 100vh
}

.maincontent{
    flex-grow: 1
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 18px 0;
    text-align:center;
    background-color: #99ccff;
}

header {
    background-color: #99ccff;
    text-align:center;
    margin-top: 0;
    margin-bottom: 48px;
}

h1 {
    font-size: 64px;
    margin-top: 0;
    margin-bottom: 16px;
    padding-top:16px;
}

h2,h3 {
    text-align:center
}
header a {
    text-align:center;
    color: #ffffff;
    margin-right: 16px;
    text-decoration: none;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
    margin: 0 auto;
    font-size: 20px
}

button {
    cursor: pointer;
    border: 1px solid #99ccff;
    background: #99ccff;
    color: white;
    font-size: 20px;
    padding: 8px;
}

p {
    text-align: center;
    color: #888888
}

form {
    text-align: center;
}

img {
    width: 20px;
    height: 20px
}